@import 'app/styles/variables.css';

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.header {
  display: inline;
  font-weight: 400;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@media (--small-viewport) {
  .container {
    flex-direction: column;
  }

  .navigator {
    flex-direction: column;
    align-items: flex-start;
  }
}

span.back {
  font-weight: 600;
  margin-left: 15px;
}

.backIcon {
  vertical-align: middle;
}

.details {
  margin-bottom: 15px;
}

h1.hasDetails {
  padding-bottom: 0;
}

h1.hasBack {
  padding-top: 0;
}

div.hasDetails {
  margin-bottom: 0;
}
